.logo{
    display: inline-block;
    vertical-align: middle;
    height: 180px;
    margin-left:20px ;
}
.title{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Bad Script', cursive;
    font-size: 36px;
    color: blanchedalmond;
}
.left{
    display: inline-block;
    width: 35%;
    height: 350px;
    font-family: sans-serif;
    color: blanchedalmond;
    font-size: 20px;
}
.right{
    vertical-align: top;
    display: inline-block;
    width: calc(65% - 4px);
    font-family:Hand;
    font-size: 36px;
    color: blanchedalmond;
}
.list{
    width: 250px;
    text-align: center;
    border: black 2px solid;
    margin-left: 50px;
}
.body{
    background-color: rgb(16, 34, 18);
}